body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.text-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #555;
    border-radius: 5px;
    background: #2e2e2e;
    color: white;
    outline: none;
    margin-top: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #2e2e2e;
    padding: 15px;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 5px;
}

.key {
    padding: 10px 15px;
    font-size: 18px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;

}

.key:hover {
    background: #666;
}

.space {
    width: 100%;
}

.backspace {
    background: #ff4444;
}

.backspace:hover {
    background: #ff6666;
}
.symbols{
    color: white;
    font-size: 18px;
}
.symbols span {
    font-weight: 700;
}